html {
    font-size: 10px;
    font-family: 'Nunito', 'Lato', sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    height: 100vh;
    background-color: rgb(15, 15, 15);
}

header div.wrapper {
    width: 80%;
    margin: 0 auto;
}

header div.text h1 {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 3rem;
    padding-bottom: 30px;
    padding-top: 50px;
}

header div.text h2 span {
    color: #1556ff;
}

header div.text h2 {
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    font-size: 2.6rem;
    padding-bottom: 30px;
}

header div.text p {
    font-family: 'Nunito', sans-serif;
    color: #1556ff;
    font-size: 2rem;
}

header div.learn-more {
    text-align: center;
    padding-top: 35px;
}

header div.learn-more button {
    font-family: 'Nunito', sans-serif;
    border: 2px solid #1556ff;
    color: #1556ff;
    background-color: rgb(15, 15, 15);
    font-weight: bold;
    border-radius: 40px;
    padding: 15px 20px;
    font-size: 2.2rem;
}

/* Section Description */
section.description {
    background-color: #1556ff;
    padding-top: 30px;
    padding-bottom: 40px;
}

section.description .wrap {
    max-width: 80%;
    margin: 0 auto;
}

section.description h2 {
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    font-size: 2.6rem;
    padding-bottom: 30px;
}

section.description p {
    color: whitesmoke;
    font-size: 1.8rem;
}

/* Section Features */
section.features {
    background-color: rgb(15, 15, 15);
    padding-top: 30px;
    padding-bottom: 20px;
}

section.features .wrap {
    max-width: 80%;
    margin: 0 auto;
}

section.features h1 {
    max-width: 80%;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 2.4rem;
    padding-bottom: 30px;
}

section.features h2 {
    color: whitesmoke;
    font-size: 2.2rem;
    padding-bottom: 20px;
}

section.features .feature {
    padding-bottom: 30px;
}

section.features p {
    color: #1556ff;
    font-size: 1.8rem;
}

/* Section Download */
section.download {
    background-color: #1556ff;
    padding-bottom: 50px;
    padding-top: 30px;
}

section.download .wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

section.download h1 {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: whitesmoke;
    font-size: 2.6rem;
    padding-bottom: 30px;
}

section.download .torrent {
    padding-bottom: 30px;
}

section.download h2 {
    color: rgb(15, 15, 15);
    font-size: 2.2rem;
    padding-bottom: 40px;
}

section.download button {
    border: 2px solid rgb(15, 15, 15);
    background-color: whitesmoke;
    color: #1556ff;
    font-weight: bold;
    border-radius: 40px;
    font-size: 2rem;
    padding: 15px 20px;
}

/* Footer */
footer {
    background-color: rgb(15, 15, 15);
}

footer div.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

footer .contact {
    color: whitesmoke;
    font-size: 1.4rem;
    padding-top: 35px;
    padding-bottom: 25px;
}

footer .author {
    color: whitesmoke;
    font-size: 1.4rem;
    padding-bottom: 40px;
}