* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lato', 'Nunito', sans-serif;
}

body {
    height: 100%;
    position: relative;
}

/* Header */
header {
    padding-top: 120px;
    height: 90vh;
    background-color: black;
}

header div.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

header div.text {
    color: whitesmoke;
    width: 80%;
}

header div.text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 6rem;
    padding-bottom: 100px;
}

header div.text h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 4.4rem;
    padding-bottom: 40px;

}

header div.text h2 span {
    color: #1556ff;
}

header div.text p {
    font-family: 'Nunito', sans-serif;
    color: #1556ff;
    font-size: 3.8rem;
}

header div.learn-more {
    padding-top: 120px;
}

header div.learn-more button {
    background: transparent;
    color: #1556ff;
    padding: 20px 30px;
    font-size: 2.8rem;
    font-weight: bold;
    border: 2px solid #1556ff;
    border-radius: 40px;
    transition: 0.5s ease;
}

header div.learn-more button:hover {
    background-color: whitesmoke;
    color: #1556ff;
}

/* Section Description */

section.description {
    background-color: #1556ff;
    padding-top: 55px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 100px;
    color: whitesmoke;
}

section.description div.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

section.description h2 {
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 4rem;
}

section.description p {
    font-family: 'Nunito', sans-serif;
    line-height: 160%;
    font-size: 2.6rem;
    letter-spacing: 1px;
}

/* Section Features */
section.features {
    background-color: black;
    padding-bottom: 80px;

}

section.features div.wrap {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

section.features h1 {
    color: whitesmoke;
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 60px;
    padding-left: 15%;
    padding-top: 60px;
}

section.features h2 {
    color: whitesmoke;
    font-size: 3.4rem;
    padding-bottom: 40px;
}

section.features p {
    color: #1556ff;
    font-size: 2.4rem;
    letter-spacing: 0.5px;
    line-height: 160%;
    font-family: 'Nunito', sans-serif;
}

section.features .feature {
    width: 50%;

}

section.features .feature:nth-child(even) {
    border-left: 2px solid whitesmoke;
    margin-bottom: 80px;
    padding-left: 30px;
}

section.features .feature:nth-child(odd) {
    padding-right: 30px;
}

/* Section Download */
section.download {
    background-color: #1556ff;
    height: 60vh;
    width: 100%;
}

section.download div.wrap {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.download h1 {
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 120px;
    text-align: center;
}

section.download h2 {
    font-size: 2.8rem;
    padding-bottom: 100px;
    text-align: center;

}

section.download button {
    border: 2px solid black;
    color: #1556ff;
    height: 80px;
    width: 320px;
    border-radius: 50px;
    font-size: 2.8rem;
    font-weight: bold;
    transition: 0.5s ease;
}

section.download button:hover {
    background-color: black;
    color: #1556ff;
    border: 2px solid whitesmoke;
}

/* Footer */
footer {
    height: 40vh;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
}

footer div.wrapper {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;
    height: 40vh;
}

footer div.contact {
    font-size: 2.5rem;
}

footer div.contact i {
    padding-right: 15px;
}

footer div.author {
    font-size: 2.5rem;
}

/* Media queries */

@media(max-width: 1024px) {
    footer {
        flex-direction: column;
    }

}