* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Lato', 'Nunito', sans-serif;
}

body {
    height: 100%;
    position: relative;
}

/* Header */
header {
    padding-top: 100px;
    height: 90vh;
    background-color: black;
}

header div.text {
    padding-left: 7%;
    color: whitesmoke;
    width: 60%;
}

header div.text h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 6rem;
    padding-bottom: 100px;
}

header div.text h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    padding-bottom: 40px;

}

header div.text h2 span {
    color: #1556ff;
}

header div.text p {
    font-family: 'Nunito', sans-serif;
    color: #1556ff;
    font-size: 3.5rem;
}

header div.learn-more {
    padding-left: 7%;
    padding-top: 120px;
}

header div.learn-more button {
    background: transparent;
    color: #1556ff;
    padding: 15px 25px;
    font-size: 2.5rem;
    font-weight: bold;
    border: 2px solid #1556ff;
    border-radius: 40px;
}

/* Main */
main {
    background-color: #1556ff;
}

main div.wrap {
    max-width: 86%;
    margin: 0 auto;
}

/* Section Description */
section.description {
    font-family: 'Lato', sans-serif;
    margin-bottom: 80px;
    color: whitesmoke;
}

section.description h2 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 3rem;
}

section.description p {
    font-family: 'Nunito', sans-serif;
    line-height: 160%;
    font-size: 2rem;
    letter-spacing: 0.5px;
}

/* Section Features */
section.features {
    color: whitesmoke;
    padding-bottom: 80px;

}

section.features h1 {
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 40px;
}

section.features h2 {
    font-size: 2.4rem;
}

section.features p {
    font-size: 1.8rem;
    letter-spacing: 0.5px;
    line-height: 160%;
    font-family: 'Nunito', sans-serif;
}

section.features .feature {
    padding-bottom: 40px;
}

/* Footer */
footer {
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 40vh;
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
}

footer div.contact {
    font-size: 2.5rem;
}

footer div.author {
    font-size: 2.5rem;
}

/* Media queries */

@media(max-width: 1024px) {
    footer {
        flex-direction: column;
    }

}